<% if column.primary_key? %>
  <span class="badge text-bg-danger">PK</span>
<% end %>
<% if column.foreign_key_table.present? %>
  <%= link_to 'FK',
              column.foreign_key_table,
              class: 'link-light link-underline-opacity-0 badge text-bg-primary' %>
<% end %>
